body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  * {
    box-sizing: border-box;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  margin: 0;
}

.field {
  height: 100vh;
  display: grid;
  div {
    h1 {
      display: inline;
      align-self: center;
    }
    display: flex;
    place-content: center center;
  }
}
@media only screen and (max-width: 600px) {
  .field {
    grid-template:
      "header" 1fr
      "menu" 1fr
      "hero" 3fr
      "main" 3fr
      "banner" 2fr
      "extra" 2fr
      "image" 2fr / 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .field {
    grid-template:
      "header header header header" 1fr
      "hero hero hero hero" 4fr
      "menu main main main" 1fr
      "menu main main main" 1fr
      "menu banner banner banner" 1fr
      "menu extra extra image" 1fr / 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .field {
    grid-template:
      "header menu menu menu" 1fr
      "hero hero hero hero" 8fr
      "main main . image" 2fr
      "main main . extra" 2fr
      "banner banner banner banner " 2fr / 1fr 1fr 1fr 1fr;
  }
}

.header {
  grid-area: header;
  background-color: #0f1629;
}
.menu {
  grid-area: menu;
  background-color: #ef3c4f;
}
.hero {
  grid-area: hero;
  background-color: #4c86c6;
}
.main {
  grid-area: main;
  background-color: #24344b;
}
.image {
  color: #000;
  grid-area: image;
  background-color: #c1e4e6;
}
.extra {
  color: #000;
  grid-area: extra;
  background-color: #4dbd97;
}
.banner {
  color: #000;
  grid-area: banner;
  background-color: #ffd169;
}
